.metadata
WFE/bin/
WFE/src/
WFE.edit/
WFE.editor/
WFE.tests/
generate/build.acceleo
generate/bin/
generate/genBuild/
generate/src/generate/main/Generate.java
generate/tasks/generate.xml
generate/tasks/generateTarget.xml
generate/wfe_src/engine/gen/
QVTO/gen/
petrinet/se.chalmers.cse.mde2014.petrinet.graphicalEditor.edit/
petrinet/se.chalmers.cse.mde2014.petrinet.graphicalEditor.editor/
petrinet/se.chalmers.cse.mde2014.petrinet.graphicalEditor.tests/
